grammar/validation.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    
    <xsd:element name="bank">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="cv" minOccurs="1" maxOccurs="unbounded">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="personnal">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="doc">
                                            <xsd:complexType>
                                                <xsd:simpleContent>
                                                    <xsd:extension base="xsd:string">
                                                        <xsd:attribute name="code" type="xsd:string" use="required"></xsd:attribute>
                                                    </xsd:extension>
                                                </xsd:simpleContent>
                                            </xsd:complexType>
                                        </xsd:element>

                                        <xsd:element name="fullname">
                                            <xsd:complexType>
                                                <xsd:attribute name="name" type="xsd:string" use="required"></xsd:attribute>
                                                <xsd:attribute name="subname" type="xsd:string" use="required"></xsd:attribute>
                                                <xsd:attribute name="firstname" type="xsd:string" use="required"></xsd:attribute>
                                            </xsd:complexType>
                                        </xsd:element>

                                        <xsd:element name="birth">
                                            <xsd:complexType>
                                                <xsd:attribute name="date" type="xsd:date" use="required"></xsd:attribute>
                                                <xsd:attribute name="city" type="xsd:string" use="required"></xsd:attribute>
                                            </xsd:complexType>
                                        </xsd:element>

                                        <xsd:element name="phones">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element name="phone" minOccurs="0" maxOccurs="unbounded">
                                                        <xsd:complexType>
                                                            <xsd:simpleContent>
                                                                <xsd:extension base="xsd:string">
                                                                    <xsd:attribute name="type">
                                                                        <xsd:simpleType>
                                                                            <xsd:restriction base="xsd:string"> 
                                                                                <xsd:enumeration value="maison"></xsd:enumeration>
                                                                                <xsd:enumeration value="personnel"></xsd:enumeration>
                                                                                <xsd:enumeration value="bureau"></xsd:enumeration>
                                                                            </xsd:restriction>
                                                                        </xsd:simpleType>
                                                                    </xsd:attribute>
                                                                    <xsd:attribute name="operator">
                                                                        <xsd:simpleType>
                                                                            <xsd:restriction base="xsd:string">
                                                                                <xsd:enumeration value="Airtel"></xsd:enumeration>
                                                                                <xsd:enumeration value="Orange"></xsd:enumeration>
                                                                                <xsd:enumeration value="Vodacom"></xsd:enumeration>
                                                                                <xsd:enumeration value="Africell"></xsd:enumeration>
                                                                            </xsd:restriction>
                                                                        </xsd:simpleType>
                                                                    </xsd:attribute>
                                                                </xsd:extension>
                                                            </xsd:simpleContent>
                                                        </xsd:complexType>
                                                    </xsd:element>
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>
                                        
                                        <xsd:element name="mails">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element name="mail" minOccurs="0" maxOccurs="unbounded" default="personnel">
                                                        <xsd:complexType>
                                                            <xsd:simpleContent>
                                                                <xsd:extension base="xsd:string">
                                                                    <xsd:attribute name="type">
                                                                        <xsd:simpleType>
                                                                            <xsd:restriction base="xsd:string">
                                                                                <xsd:enumeration value="academique"></xsd:enumeration>
                                                                                <xsd:enumeration value="personnel"></xsd:enumeration>
                                                                                <xsd:enumeration value="professionnel"></xsd:enumeration>
                                                                            </xsd:restriction>
                                                                        </xsd:simpleType>
                                                                    </xsd:attribute>
                                                                </xsd:extension>
                                                            </xsd:simpleContent>
                                                        </xsd:complexType>
                                                    </xsd:element>
                                                </xsd:sequence>
                                            </xsd:complexType>
                                        </xsd:element>
                                    </xsd:sequence>
                                    <xsd:attribute name="gender" type="xsd:string" use="required"></xsd:attribute>
                                    <xsd:attribute name="adress" type="xsd:string" use="required"></xsd:attribute>
                                </xsd:complexType>
                            </xsd:element>

                            <xsd:element name="studies">
                                <xsd:complexType>
                                    <xsd:all>
                                        <xsd:element name="diploma">
                                            <xsd:complexType>
                                                <xsd:all>
                                                    <xsd:element name="description">
                                                        <xsd:complexType mixed="true">
                                                            <xsd:all>
                                                            </xsd:all>
                                                        </xsd:complexType>
                                                    </xsd:element>
                                                </xsd:all>
                                                <xsd:attribute name="title" type="xsd:string" use="required"></xsd:attribute>
                                                <xsd:attribute name="duree" type="xsd:string" use="required"></xsd:attribute>
                                            </xsd:complexType>
                                        </xsd:element>
                                    </xsd:all>
                                </xsd:complexType>
                            </xsd:element>

                            <xsd:element name="experience">
                                <xsd:complexType>
                                    <xsd:all>
                                        <xsd:element name="work">
                                            <xsd:complexType>
                                                <xsd:all>
                                                    <xsd:element name="description">
                                                        <xsd:complexType mixed="true">
                                                            <xsd:all>
                                                            </xsd:all>
                                                        </xsd:complexType>
                                                    </xsd:element>
                                                </xsd:all>
                                                <xsd:attribute name="company" type="xsd:string" use="required"></xsd:attribute>
                                                <xsd:attribute name="year" type="xsd:gYear" use="required"></xsd:attribute>
                                            </xsd:complexType>
                                        </xsd:element>
                                    </xsd:all>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>